.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 16px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 999;
  width: 99%;
  background-color: rgba(240, 248, 255, 0.606);
}

.logo {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  align-items: flex-start;
}

.navbarEl:first-child {
  justify-self: start;
}

.navbarEl:last-child {
  justify-self: end;
}
