/* Track */
.simplebar-track.simplebar-vertical {
  background-color: #ff0000; /* цвет трека */
  width: 10px; /* ширина трека */
}

/* Thumb (ползунок) */
.simplebar-scrollbar.simplebar-visible:before {
  background-color: #e80000; /* цвет ползунка */
  border-radius: 5px; /* радиус скругления ползунка */
}
.contactsList {
  overflow: auto;
  height: 200px;
}

.listItem {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid;
  padding: 5px 0;
}

.deleteContactBtn {
  margin-left: auto;
}

.user {
  width: 16px;
  padding-right: 5px;
}
