.navBarMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navLink {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.navLink:global(.active) {
  font-weight: bold;
}
