.formWrapper {
  position: absolute;
  width: 300px;
  top: 100px;
  left: 40%;
  background-color: rgba(255, 255, 255, 0.631);
  padding: 15px;
}

.form {
  padding: 15px 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.wrapper label {
  padding-bottom: 5px;
}
